<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejooyoung.pdf_reader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewer.ViewerActivity"
            android:launchMode="singleTop" />

        <activity android:name=".viewer.scrollhandler.contents.ContentsActivity"
            android:launchMode="singleTop" />

        <activity android:name=".rename.RenameActivity"
            android:launchMode="singleTop" />

        <activity android:name=".viewer.scrollhandler.setting.ViewerSettingActivity"
            android:launchMode="singleTop" />

        <activity android:name=".viewer.scrollhandler.setting.touchzone.SettingTouchZoneActivity"
            android:launchMode="singleTop" />

        <activity android:name=".viewer.scrollhandler.grid.GridViewerActivity"
            android:launchMode="singleTop" />

        <activity android:name=".main.category.setting.SettingCategoryActivity"
            android:launchMode="singleTop" />

        <activity android:name=".main.category.addition.AddCategoryToBookActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>